<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myexamen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyExamen">
        <activity android:name=".mostrarPacientePorDoctor"></activity>
        <activity android:name=".ActualizarDoctor" />
        <activity android:name=".registrarDoctor" />
        <activity android:name=".MostrarDoctor" />
        <activity
            android:name=".mostrarPaciente"
            android:label="@string/title_activity_mostrar_paciente"
            android:theme="@style/Theme.MyExamen.NoActionBar" />
        <activity android:name=".ActualizarPaciente" />
        <activity android:name=".registrarPaciente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>